<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
  <ul class="list-group">
    <li class="list-group-item">
      <i class="bi bi-house-door-fill me-2"></i>
      <a routerLink="/home">Home</a>
    </li>
    <li class="list-group-item">
      <i class="bi bi-file-earmark-text-fill me-2"></i>
      <a>Reports</a>
    </li>
    <ul class="mt-2">
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <a href="#" routerLink="/reports/generate">Generate Project Report</a>
          <i class="bi bi-chevron-right"></i>
        </div>
      </li>
      <li class="list-group-item">CP Vs HMI Comparison</li>
      <li class="list-group-item">CP Vs TAG Comparison</li>
      <li class="list-group-item">Comparison to Best Practices</li>
    </ul>
  </ul>
</div>